.order {
  padding-top: 32px;

  &__container {
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 16px;
    border: 1px solid #eeeff2;
  }

  &__info {
    max-width: 408px;
    margin: 0 auto 24px;
  }

  &__successfully {
    margin-bottom: 8px;

    @media (min-width: 580px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;

    @media (min-width: 580px) {
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  &__amount {
    font-size: 16px;

    @media (min-width: 580px) {
      font-size: 20px;
    }
  }

  &__number {
    margin-left: 8px;
    margin-bottom: 24px;
  }

  &__info-title {
    font-size: 16px;
    font-weight: 400;
  }

  &__btn {
    display: block;
    max-width: 408px;
    width: 100%;
    margin: 0 auto;
    padding: 12px 24px;
    text-align: center;
    color: #ffffff;
    border-radius: 32px;
    border: 1px solid #780096;
    background-color: #780096;

    &:hover,
    &:active {
      background-color: #9200b7;
    }

    &:focus-visible {
      border: 1px solid #cc00ff;
      background-color: #780096;
      outline: none;
    }
  }
}
